@model WebBanQuanAo.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form asp-action="Login" class="border p-4 rounded">
                <h4 class="mb-4 text-center">Đăng Nhập</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input asp-for="UserName" class="form-control" required>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password"  class="form-control" type="password" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="d-flex justify-content-between mt-3">
                        <a asp-action="Register">Đăng Ký</a>
                        <a asp-action="Forgot_password">Quên Mật khẩu</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    form {
        background-color: #fff;
    }

    .d-flex a {
        margin-right: 10px; /* Adjust spacing as needed */
    }
</style>